body {
    background-color: #F7F8F8;
    color: #667B87;
}
a {
    color: #8F4B6F;
}
.navbar {
    background-color: #ACB9C3;
}
.logo {
    height: 50px;
}
footer {
    background-color: #ACB9C3;
    color: #F7F8F8;
    padding: 15px;
    text-align: center;
}
footer .socials a {
    font-size: 18px;
    margin-right: 10px;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 14px;
    margin-top: 15px;
}
/*ACB9C3    ED9E7C